doctype html
html
   head
      title = "Wordpress de-serializer"
      style
        include home.css
   body
      div#container
        h1#welcome Wordpress de-serializer
        a(href="/wp-options") Go to app!
        p Small app that retrieves data from wordpress site (for now, only wp_options table is concerned), and edit it