doctype html
html
  head
    title = "Wordpress de-serializer"
    style
      include home.css
  body
    div#container
      h1#welcome Wordpress de-serializer
      a(href="/wp-options") Go to app!
      p Small app that retrieves any data from wordpress site, and allows to modify the url website